CONNECTOR_BRIDGE_PAYLOAD_PATH=
SENSORTHINGS_BASE_URL=
SENSORTHINGS_THINGS_PATH=/Things
SENSORTHINGS_LOCATIONS_PATH=/Locations
SENSORTHINGS_SENSORS_PATH=/Sensors
SENSORTHINGS_OBSERVED_PROPERTIES_PATH=/ObservedProperties
SENSORTHINGS_DATASTREAMS_PATH=/Datastreams
SENSORTHINGS_OBSERVATIONS_PATH=/Observations
SENSORTHINGS_AUTH_TOKEN=
SENSORTHINGS_AUTH_USERNAME=
SENSORTHINGS_AUTH_PASSWORD=
SENSORTHINGS_ENTITY_NAME_PREFIX=
SENSORTHINGS_DATASTREAM_IDS_JSON=
CONNECTOR_NAME=UrbanAdapt SensorThings Connector
DEBUG=false
