SENSORTHINGS_BASE_URL=
SENSORTHINGS_THINGS_PATH=/Things
SENSORTHINGS_SENSORS_PATH=/Sensors
SENSORTHINGS_OBSERVED_PROPERTIES_PATH=/ObservedProperties
SENSORTHINGS_DATASTREAMS_PATH=/Datastreams
SENSORTHINGS_OBSERVATIONS_PATH=/Observations
SENSORTHINGS_AUTH_TOKEN=
SENSORTHINGS_DATASTREAM_IDS_JSON=
CONNECTOR_NAME=UrbanAdapt SensorThings Connector
DEBUG=false
